body {
background-color: rgb(171, 236, 214);
}

h2{
    text-align: center;
}

label {
    text-align:center;
    color: black;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
    }
    label:after { content: ": " }

